version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: proyecto_clever
    ports:
      - "3000:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    environment:
      MYSQL_HOST: db
      MYSQL_DATABASE: tareas_db
      MYSQL_PASSWORD: 1234

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: tareas_db
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  db_data:
