.container_titulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dashboard {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    padding: 15px;
    margin-top: 15px;
}

.titulo_dashboard {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.completed, .in_progress, .backlog {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.progress-bar {
    width: 100%;
    height: 6px;
    background: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 8px;
}

.progress {
    height: 100%;
    border-radius: 10px;
}

/* Por ahora, valores “poser” */
.progress.completed {
    width: 85%; 
    background-color: #4caf50; /* verde */
}

.progress.in-progress {
    width: 45%; 
    background-color: #ff9800; /* naranja */
}

.progress.backlog {
    width: 20%;
    background-color: #f44336; /* rojo */
}
