.container_login {
    display: flex;
    height: 100vh;
    gap: 40px;
}

.contenido_izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.contenido_izquierda p {
    width: 50%;
    margin: 15px;
}

.contenido_derecha {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}



.inputs input {
    display: block;       
    margin-bottom: 10px;  
    padding: 8px;         
    box-sizing: border-box;
}
